.header_container {
    background: url(/img/BG.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
}

header{
    padding:24px;
}

header .btn {
    border-radius: 30px;
    background: #FFF;
    
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    display: flex;
    width: 80px;
    height: 80px;
    padding: 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border:none;
}

header .btn-success {
    background-color: #84CC16;
}

h1 {
    color: #2F3C33;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}

h1 span {
    color: #84CC16;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: -1.8px;
}

.box_holder p {
    color: #647067;
    /* Paragraph/2xl */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: -0.24px;
}

.user_technology {
    color:#647067;
    /* Label/md */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin:40px 0;
}

.box_holder .user_technology span:last-child {
    display:inline-block;
    padding-left:48px;
}

.box_holder .row button {
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color:#FFF;
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    border-radius: 24px;
    background:#2F3C33;
}


.box_holder .box_right {
    margin-top:-60px;
}

.hero {
    margin-left: 5%;
}

.doctor {
    top:60%;
    left:-5%;
}

.suggestion {
    top:25%;
    right:0%;
}

.hcard {
    top:55%;
    right:4.5%;
}

.scroll_down {
    border-radius: 12px;
    background: #F5F5F5;
    text-transform:uppercase;
    color: var(--osler-gray-80, #2F3C33);
    /* Label/sm */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top:-17px;
}


/*Our mission page*/

.our_mission {
    border-radius: 180px;
    background:#2F3C33;
    /* padding:126px 118px; */
    padding-bottom:126px;
    margin-top:15px;
}

.our_mission .btn {
    border-radius: 18px;
    background:#84CC16;
    height: 48px;
    padding: 16px 24px;
    color:#FFF;
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-bottom:24px;
}

.our_mission p{
    color:#E3E4E3;
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
    padding-right:60px;
}

.our_mission h2{
    color: #FFF;
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}

.our_mission .row:first-child {
    padding:126px 118px 0;
}

.logo_line1 {
    margin-bottom:50px;
    margin-top:50px;
}
.our_statistics {
    background-color:#84CC16;
    padding:128px 118px;
    border-radius:180px;
    margin-top:24px;
}

.our_statistics h2 {
    color: #FFF;
    text-align: center;
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
    padding-bottom:64px;
}

.our_statistics .small_box {
    border-radius: 64px;
    background: #FFF;

    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    padding: 48px;
}

.our_statistics p {
    color: #2F3C33;
    /* Heading xs/SemiBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
}

.our_statistics span{
    color: #84CC16;
    /* Heading 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2.16px;
}

.our_statistics h3 {
    color: #2F3C33;
    /* Heading 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 111.111% */
    letter-spacing: -2.16px;
}

.our_statistics .row {
    gap: 16px;
}